.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noodle {
  height: 100px;
  width: 100px;
}

.noodle path {
  fill: red;
}

.link {
  background-color: maroon;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem;
  border-radius: 5px;
  border: 2px solid rgb(120, 0, 0);
}

.link:hover {
  background-color: rgb(120, 0, 0);
  text-decoration: underline;
}
